<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>ru.eleavd.servlets.StartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Events</servlet-name>
        <servlet-class>ru.eleavd.servlets.Events</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>AuthorizationServlet</servlet-name>
        <servlet-class>ru.eleavd.servlets.AuthorizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>ru.eleavd.servlets.RegistrationServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>User_cart</servlet-name>
        <servlet-class>ru.eleavd.servlets.User_cart</servlet-class>
    </servlet>    
     <servlet>
        <servlet-name>About_Event</servlet-name>
        <servlet-class>ru.eleavd.servlets.About_Event</servlet-class>
    </servlet> 
    
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/StartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/AuthorizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About_Event</servlet-name>
        <url-pattern>/About_Event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_cart</servlet-name>
        <url-pattern>/User_cart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>StartServlet</welcome-file>
    </welcome-file-list>
</web-app>
